#todolistHeader{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 100;
}
.inputarea{
    text-align: center;
}
#enter{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}
#inputText{
    width: 100%;
    height: 2.5em;
}
#todolist, #donelist{
    list-style: none;
    width: 100%;
    height: 2.5em;
}
#todolist li{
    border-left: 5px solid #25C797;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 4px;
    width: 100%;
    height: 2.5em;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s;
    transition-timing-function:ease;
    color: #696969;
    background-color: #F1F1F1;
}
#todolist li:hover{
    transition: all 0.5s;
    transition-timing-function:ease;
    color: #696969;
    background-color: #25C797;
}
#donelist li{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 4px;
    width: 100%;
    height: 2.5em;
    padding: 5px 10px;
    cursor: pointer;
    transition-timing-function:ease;
    color: #E7007B;
    background-color: #FFF;
}
#donelist li:hover{
    transition: all 0.5s;
    transition-timing-function:ease;
    color: #E7007B;
    background-color: #FEDBE4;
}
#todolist li span{
    font-size: 1.3em;
    font-weight: 200;
    padding-left: 10px;
    vertical-align: middle;
}
#donelist li span{
    font-size: 1.3em;
    font-weight: 200;
    padding-left: 10px;
    vertical-align: middle;
    text-decoration: line-through;
    color: #E7007B;
}
.fa-pencil-alt{
    float:right;
    margin-right: 10px;
}
.fa-minus-square{
    float:right;
   
}